header#main-header {
  max-width: 100%;
  height: 70px;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.search-background {
  background-image: url("../../assets/photo-04.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
  height: 250px;
}

.search-background article input#busca {
  margin-right: 10px;
  max-width: 600px;
  width: 400px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

@media (max-width: 425px) {
  .search-background article input#busca {
    margin-right: 10px;
    max-width: 200px;
    min-width: 200px;
    width: 300px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }
}

.search-background article button#busca {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 50px;
}

.search-background article button#busca:hover {
  opacity: 0.75;
}

.title-center {
  text-align: center;
  max-width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-center {
  max-width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
