@media (max-width: 2560px) {
  footer#main-footer {
    position: relative;
    width: 100%;
    height: 70px;
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
  }
  
  footer#main-footer div a {
    color: #ffffff;
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    color: #ffffff;
  }
  
  .row-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .media {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    margin-right: 5px;
    color: #ffffff;
  }
  
  .creator {
    text-align: center;
    width: 135px;
    height: 10px;
    margin: 10px;
  }
}

@media (max-width: 425px) {
  footer#main-footer {
    position: relative;
    width: 100%;
    height: 70px;
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    color: #ffffff;
  }

  .row-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 375px) {
  footer#main-footer {
    position: relative;
    width: 100%;
    height: 190px;
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
  }

  .social {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    color: #ffffff;
  }

  .row-list {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}
